@using NewsApp.ViewModels;
@model PostDto

@{
    ViewData["Title"] = "Create";
    Layout = null; 
}


<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
               
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Content" class="control-label"></label>
                        <input asp-for="Content" class="form-control" />
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Category</label>
                        @Html.ListBoxFor(model => model.CategoryIds,
                        new MultiSelectList(Model.SelectListCats,"Value","Text"),
                        new {@class="form-control",multiple="multiple",id="Categories_dropdown"})
                        
                    </div>
            </div>
            
            
            <div class="form-group p-1">
                <a class="btn btn-danger" asp-action="Index">Cancel</a>

                <input type="submit" value="Post" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $('#Categories_dropdown').multiselect();
        });
    </script>
}
