@using NewsApp.ViewModels.Seedwork;
@model ReportedList<Post,double>

@{
	Layout = null;
}

<h3 class="text-center">Top post has the best average rating</h3>
<table class="table">
	<thead>
	<th>Id</th>
	<th>Post</th>
	<th>Average Rate</th>
	</thead>
	<tbody>
		@for (int i = 0; i < Model.ListCount.Count; i++)
		{
			<tr>
				<td>@(i + 1)</td>
				<td>@Model.Items[i].Title</td>
				<td>@Model.ListCount[i]</td>
			</tr>

		}
	</tbody>

</table>